body {
  background:   #000000;
  color:	#aaaaaa;
  text-color:	#aaaaaa;
  font-family: serif;
}

body:hover
{
	background: #003300;
	color: #aaccaa;
	text-color: #aaccaa;
	transition-duration: 10000ms;
}


nav {
	font-family:	sans-serif;	
}

main {
	margin-left: 2em;
	margin-right: 1em;
}



h1 {
  color: #EEEEEE;
  text-color: #EEEEEE;
  font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
  shadow: 1px 1px 3px #cccc00;
}

h2 {
  font-size: 14pt;
  font-family: monospace;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #EEEEEE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #FF0000;
}

